<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>content response</title>

</head>
<body>
    <div>
        <p>Hello <%=name%>,
            <br> Thanks for contacting us, we will set your appointment with <%=user%> at <strong><%=time%>
            <%=date%></strong>. We will contact you on your email @ <%=email%> for updates.</p>

        
    </div>
</body>
</html>